* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

body {
	background-color: rgb(188, 134, 92);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
}

.navbar.navbar-1 .navbar-toggler-icon {
	background-image: url("https://mdbcdn.b-cdn.net/img/svg/hamburger6.svg?color=000");
	position: fixed;
  top: 23px;
  right: 23px;
	height: 80px;
	width: 80px;
	z-index: 1;
	@media screen and (max-width: 600px) {
		height: 60px;
		width: 60px;
  }
}

.container {
	position: relative;
	top: 60px;
	border: 2px solid white;
	left: 0; 
	bottom: -35px; 
	right: 0;
	width: 90vw;
	height: 80vh;
	margin: 0 auto;
	@media screen and (max-width: 500px) {
		display: flex;
		justify-content: center;
		align-content: center;
  }
}

.above {
	position: absolute;
	top: 20px;
	left: 20px;
	margin: 20px;
	color: white;
	line-height: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	@media screen and (max-width: 500px) {
		text-align: center;
  }
}

.under {
	position: absolute;
	bottom: 20px;
	right: 20px;
	margin-right: 40px;
	color: white;
	line-height: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	text-align: right;
	@media screen and (max-width: 500px) {
		text-align: center;
  }
}

.morella {
	background-color: white;
	text-align: center;
	position: absolute;
	left: -2px; 
	bottom: -35px; 
	right: 0;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 90vw;
	height: 40px;
	display: flex;
	justify-content: center;
	align-content: center;
}

h2 {
	font-size: 21px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: rgb(188, 134, 92);
}